.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-cadastro {
    width: 500px; /* Ajuste conforme necessário */

  }
  
  .acao {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .btn-save,
  .btn-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .btn-save:hover,
  .btn-cancel:hover {
    background-color: #ddd;
  }
  