.logon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 20px; /* Adiciona um espaçamento inferior para separar a imagem do formulário */
}

.logo-image {
  width: 500px; /* Defina a largura desejada para a imagem */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .preto{
  
} */
